.estilo-botao-carga {
  background-color: #35AADC;
  color: white;
  border-radius: 25px;
  margin-top: 7px;
  padding: 0.1rem 0.2rem 0.2rem 0.2rem;
}

.estilo-botao-descarga {
  background-color: #DC3545;
  color: white;
  border-radius: 25px;
  padding: 0.2rem 0.2rem;
  margin-top: 7px;
}